/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Barriecito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700;10..48,800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

a {
  z-index: 10;
}

body {
  font-family: "Bricolage Grotesque";
  text-transform: uppercase;
  background: linear-gradient(to bottom right, #5e748f, #71c2d1);
  color: #fff;
  overflow-x: hidden;
  background-position: center;
  z-index: -3;
  height: 100%;
}

main {
  display: block;
}

.title,
.header {
  font-family: "Barriecito";
}

.content {
  position: relative;
  width: 800px;
  margin: 0 auto;
  padding-top: 80px;
}

.section {
  margin-bottom: 100px;
}

@media screen and (max-width: 512px) {
  body {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 3px;
    line-break: anywhere;
    font-size: 15px;
  }
  .title {
    font-size: 15px;
    max-width: 300px;
  }
  .subtitle {
    max-width: 220px;
  }
}
@media screen and (max-width: 848px) {
  body {
    font-size: 40px;
    margin-bottom: 0.1em;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 20px;
    line-break: anywhere;
  }
  .list {
    max-width: 370px;
    font-size: 20px;
  }
  .button {
    font-size: 17px;
  }
  .title {
    font-size: 20px;
  }
  .content {
    padding-top: 40px;
  }
  .section {
    margin-bottom: 50px;
  }
}
a {
  color: #fff;
  transition: color 0.2s ease-in;
}

h2 {
  font-weight: normal;
}

.title {
  font-size: 70px;
  font-weight: normal;
  word-break: break-all;
  -webkit-hyphens: auto;
          hyphens: auto;
}

.subtitle {
  display: block;
  font-size: 40px;
}

.description {
  font-size: 20px;
  text-transform: none;
  margin-top: 30px;
  word-break: break-all;
}
@media screen and (max-width: 512px) {
  .description {
    max-width: 320px;
  }
}

.block {
  display: flex;
  gap: 25px;
}

.header {
  font-size: 55px;
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  font-size: 24px;
}

.button {
  padding: 10px 38px;
  border: 4px solid #fff;
  transition: all 0.2s ease-in-out;
  min-width: 350px;
  max-width: 100%;
  flex: 1 0 25%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button:hover {
  background-color: #fff;
  color: #5e748f;
}

.period {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 20px;
}

.date {
  font-size: 20px;
  padding: 6px 18px;
  transition: all 0.2s ease-in-out;
  background-color: #fff;
  color: #71c2d1;
}

.name {
  font-size: 18px;
  margin-top: 20px;
  text-decoration: underline;
}
.name a:hover {
  opacity: 0.8;
}

.upname {
  font-weight: bold;
  font-size: 25px;
}
@media screen and (max-width: 512px) {
  .upname {
    max-width: 250px;
    font-size: 20px;
  }
}

.lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 500px;
  font-size: 24px;
}
@media screen and (max-width: 512px) {
  .lists {
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    max-width: 300px;
  }
}

.items {
  margin-bottom: 13px;
  margin-right: 5px;
}

.text {
  font-size: 25px;
  margin-bottom: 20px;
}

.project {
  font-size: 23px;
  padding: 10px 30px;
}/*# sourceMappingURL=main.css.map */